.col-7{
    font-family:monospace;
    font-size:25px;
    padding-left:200px;
    padding-top:20px;
    font-weight:bold;
    color:rgb(0, 0, 0);
}
.col-1{
    font-family:monospace;
   padding-top:25px;
   font-weight: bold;
   font-size:19px;
}

.image{
  padding-top:20px;
}
.btn{
    border-color:rgb(85, 113, 137);
    border-radius:5px;
    font-family:monospace;
    font-size:25px;
    padding:5px;
    font-weight:bold;
    color:rgb(0, 0, 0);
    background-color: rgb(228, 199, 14);
}
.name{
    position: absolute;
    bottom:50%;
    color:black;
    font-size:25px;
    font-weight:bold;
    font-family:monospace;
    margin-left:25px;
}
.row{
    position: relative;
    border-left:20px;
}
.input1{
    margin:5px;
    margin-left: 20px;
}
.input2{
    margin:5px;
    margin-left:20px;
    width:295px;
    background-color: rgb(236, 226, 32);
}
.Services{
    font-size:35px;
    font-family:monospace;
    font-weight:bold;
    margin-left:50px;
    margin-top:25px;
}

